
.inner{
    display: flex;
    justify-content: space-between;
}

.menu{
    display: flex;
    justify-content: space-between;
    list-style: none;
    min-width: 400px;
}

.link{
    color: rgb(10, 31, 52);
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0.4px;
}
.link:hover{
    color: rgb(164, 90, 20);
    transition: all .2s;
}