body {
  font-family: 'Roboto', sans-serif;
  background: rgb(46, 96, 18);
  background: linear-gradient(to right, #245549, #143027);
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
